*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
}

main{
    width: 100%;

}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md); 
    font-size: var(--font-sm);
    cursor: pointer;
    color: var(--text-active-color);
    background-color: var(--bg-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);   
}

#download-btn{
    background-color: var(--bg-success-color);
}

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
    gap: var(--gutter-lg);
    width: 70%;
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

main section .bottom{
    /* background-color: rgb(61, 53, 53); */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blurs whatever is BEHIND this div */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/2.6;
    border-radius: var(--border-radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
}

main section .bottom .placeholder i{
    font-size: 10rem;
}


main section .right{
    width: 30%;
    color: var(--text-primary-color);
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blurs whatever is BEHIND this div */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius-xl);
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter{
    width: 100%;
}

main section .right .filter input{
    width: 100%;
    cursor: pointer;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius: var(--border-radius-sm);

}

main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    background-color: rgb(119, 31, 31);
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -8.5px;
}


canvas{
    /* background-color: red; */
    max-width: 90%;
    max-height: 80vh;
}
