:root {
    /* bg colours */
    --bg-primary-color: rgb(17,17,17);    
    --bg-secondary-color: rgb(34,34,34);
    --bg-active-color: rgb(233,233,233);
    --bg-danger-color: rgb(200,50,50);
    --bg-success-color: rgb(30,167,30);

    /* text colours */
    --text-primary-color: rgb(233,233,233);
    --text-secondary-color: rgb(180,180,180);
    --text-ternary-color: rgb(150,150,150);
    --text-active-color: rgb(24,24,24);

    /*paddings  1rem = 16px*/
    
    --padding-sm: 0.5rem;
    --padding-md: 1px;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem; 
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    /* font sizes */
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1rem;

    /* border radius */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-2xl: 0.5rem;
}